.about_navbar_container{
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    z-index: 4;
    top: 10%;
}
.about_navbar_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 24px !important;
    line-height: 28px;
    margin-left: 20px;
    color: #FFFFFF!important;
}

@media screen  and (max-width: 920px){
    .about_navbar_container{
        top: -5%;
    }
    .about_navbar_icon{
        width: 100px;
        margin: 0 -15px;
    }
    .about_navbar_link{
        font-size: 10px !important;
        margin-left: 10px;
    }
}